$base: #00d3ee;
$black: #344143;
$gray0: #f8f9f9;
$gray1: #eaeeee;
$gray2: #dbe1e2;
$gray3: #cbd4d5;
$gray4: #b9c6c7;
$gray5: #a6b5b7;
$gray6: #8fa3a5;
$gray7: #748d90;
$gray8: #597072;
$gray9: #344143;
$cyan0: #e3fafd;
$cyan1: #c5f5fb;
$cyan2: #a3f0f8;
$cyan3: #7ae9f6;
$cyan4: #47e1f2;
$cyan5: #00d6ee;
$cyan6: #00c1d7;
$cyan7: #00aabd;
$cyan8: #008d9d;
$cyan9: #006672;
$blue0: #e5effd;
$blue1: #c9ddfb;
$blue2: #a9c9f9;
$blue3: #82b0f6;
$blue4: #5091f3;
$blue5: #005fee;
$blue6: #0055d6;
$blue7: #004abb;
$blue8: #003d9a;
$blue9: #002b6d;
$indigo0: #eceafd;
$indigo1: #d8d4fc;
$indigo2: #c0b9fa;
$indigo3: #a399f8;
$indigo4: #7b6df5;
$indigo5: #1800ee;
$indigo6: #1500d7;
$indigo7: #1300bd;
$indigo8: #0f009d;
$indigo9: #0b0071;
$violet0: #f5e9fd;
$violet1: #ebd1fb;
$violet2: #deb5fa;
$violet3: #cf93f7;
$violet4: #bb65f4;
$violet5: #8f00ee;
$violet6: #8100d7;
$violet7: #7100bc;
$violet8: #5e009c;
$violet9: #430070;
$fuschia0: #fdeafb;
$fuschia1: #fcd3f8;
$fuschia2: #fab8f3;
$fuschia3: #f898ee;
$fuschia4: #f56be7;
$fuschia5: #ee00d6;
$fuschia6: #d700c1;
$fuschia7: #bd00aa;
$fuschia8: #9d008d;
$fuschia9: #720067;
$pink0: #ffebf3;
$pink1: #ffd5e7;
$pink2: #ffbcd9;
$pink3: #ff9ec8;
$pink4: #ff76b1;
$pink5: #ff2e89;
$pink6: #e6297b;
$pink7: #ca246c;
$pink8: #a71e5a;
$pink9: #781540;
$red0: #fdebe9;
$red1: #fbd5d0;
$red2: #fabbb4;
$red3: #f79c92;
$red4: #f47263;
$red5: #ee1800;
$red6: #d71500;
$red7: #bd1300;
$red8: #9c0f00;
$red9: #710b00;
$orange0: #fcf1e0;
$orange1: #fae3bf;
$orange2: #f8d29a;
$orange3: #f5c070;
$orange4: #f2aa3e;
$orange5: #ee8f00;
$orange6: #d78100;
$orange7: #bc7100;
$orange8: #9c5e00;
$orange9: #704300;
$yellow0: #fafcdf;
$yellow1: #f4fabd;
$yellow2: #eef897;
$yellow3: #e7f56c;
$yellow4: #dff13a;
$yellow5: #d6ee00;
$yellow6: #c1d700;
$yellow7: #aabd00;
$yellow8: #8d9d00;
$yellow9: #677200;
$lime0: #edfde2;
$lime1: #d9fbc3;
$lime2: #c3f8a0;
$lime3: #a9f577;
$lime4: #89f244;
$lime5: #5fee00;
$lime6: #56d700;
$lime7: #4bbd00;
$lime8: #3e9d00;
$lime9: #2d7200;
$green0: #e7fde9;
$green1: #cdfbd1;
$green2: #aef9b6;
$green3: #89f794;
$green4: #57f367;
$green5: #00ee18;
$green6: #00d715;
$green7: #00bd13;
$green8: #009d0f;
$green9: #00720b;
$teal0: #e6fdf4;
$teal1: #cafbe7;
$teal2: #aaf9d9;
$teal3: #83f6c8;
$teal4: #50f3b2;
$teal5: #00ee8f;
$teal6: #00d781;
$teal7: #00bd71;
$teal8: #009d5e;
$teal9: #007244;
