/*
 * Antialias
 */

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Update fonts
 */

html,
.footer-nav.-expanded {
  background: $background-color;
  color: $primary-text-color;

  &:before {
    display: none;
  }
}

html .toc-menu {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: lighten($sidebar-border-color, 5%);
  }
}

html .menu.toc-menu,
html .-menu-visible .menu-toggle {
  background: $sidebar-color;
}

html .toc-menu ul,
html .toc-menu li {
  margin: .25rem 0;
}

html .toc-menu .link:hover,
html .toc-menu .hlink:hover {
  background-color: rgba($sidebar-border-color, .5)
}

html .menu-toggle {
  color: $white;
}

html .header-nav,
html .footer-nav,
html .markdown-body,
html .toc-menu {
  font-family: $primary-font;
  color: $primary-text-color;
}

.toc-menu:before {
  /* TODO: Remove after docpress new release! */
  display: none;
}

/*
 * Update logo
 */

html .toc-menu .-level-1:first-child>.title {
  color: $black;
}

html a.link.title.link-index {
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  background-color: $title-background-color;
  font-size: 13px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  font-size: 16px;
  justify-content: flex-end;
  font-family: monospace;
}

/*
 * Update look of 'code' elements
 */

html .markdown-body code {
  background: linear-gradient(to bottom, transparent 15%, rgba(47, 167, 143, 0.03) 15%, rgba(47, 167, 143, 0.03) 85%, transparent 85%);
  letter-spacing: -.05em;
  margin: 0 .05em;
}

html .markdown-body code:before,
html .markdown-body code:after {
  letter-spacing: -.35em;
}

html .markdown-body pre {
  padding: 24px;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.04);
  background: $sidebar-color;
  color: $code-color;
  border: 1px solid $pre-border-color;
}

html .markdown-body pre code {
  background: transparent;
}

html .markdown-body p > code,
html .markdown-body li > code {
  color: $code-inline-color;
}

.markdown-body .pl-c {
  color: $gray-darkest;
}

.markdown-body .pl-pds, .markdown-body .pl-s, .markdown-body .pl-s .pl-pse .pl-s1, .markdown-body .pl-sr, .markdown-body .pl-sr .pl-cce, .markdown-body .pl-sr .pl-sra, .markdown-body .pl-sr .pl-sre {
  color: $golden;
}

/*
 * Links and fonts
 */

html .markdown-body {
  max-width: 740px;
}

html .markdown-body a {
  font-weight: bold;
  color: $secondary-color;
  border-bottom: 1px solid $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $white;
    text-decoration: none;
  }
}

/*
 * Update spacing to 1.7
 */

html .markdown-body {
  line-height: 1.7;
}

html .markdown-body p,
html .markdown-body blockquote,
html .markdown-body pre,
html .markdown-body ol,
html .markdown-body ul {
  margin-bottom: 1.7em;
}

html .markdown-body h2 {
  margin-top: 2em;
}

html .markdown-body h3 + p,
html .markdown-body h4 + p {
  margin-top: -.9em;
}

html .markdown-body li+li {
  margin-top: .25em;
}

/*
 * Update heading styles
 */

html .markdown-body h2 {
  font-family: $secondary-font !important;
  font-weight: 300;
  font-size: 2em;
  color: $primary-color;
}

html .markdown-body h1 {
  font-family: $primary-font !important;
  font-weight: 300;
  color: $primary-color;
  margin-bottom: .6em;
  padding-bottom: .6em;
  border-bottom: solid 1px $h1-border-color;
}

html .markdown-body h4 {
  font-size: 1.15em;
}

/*
 * Big heading (.massive-header)
 */

@media (min-width: 769px) {
  html .page-index .markdown-body h1,
  html .markdown-body h1.massive-header,
  html .markdown-body h1.massive-header.-with-tagline + blockquote {
    padding-top: 29vh;
    padding-bottom: 29vh;
    border-bottom: 0;
    margin-bottom: .2em;
    font-size: 5em;
    font-family: source sans pro, sans-serif;
    font-weight: 200;
    color: $primary-color;
    line-height: 1.2;
  }

  html .markdown-body h1.massive-header.-with-tagline {
    margin-top: 0;
    padding-top: 20vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  html .markdown-body h1.massive-header.-with-tagline + blockquote {
    border-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 21vh;
    font-size: 4em;
    color: $gray-light;
    padding-right: 10%;
  }
}

/*
 * Theme
 */

html #nprogress .bar {
  background: $secondary-color;
}

html #nprogress .peg {
  box-shadow: 0 0 10px $secondary-color, 0 0 5px $secondary-color;
}

html #nprogress .spinner-icon {
  border-top-color: $secondary-color;
  border-left-color: $secondary-color;
}

html .header-nav.-expanded .icon {
  color: $white;
}

html .footer-nav .label,
html .footer-nav .left .title {
  color: $secondary-text-color;
}

html .footer-nav .right .title,
html .footer-nav a {
  color: darken($secondary-color, 20%);
}

html .header-nav .iconlink:hover,
html .header-nav .iconlink:hover .icon,
html .footer-nav .left a:hover:before,
html .footer-nav .right a:hover:after,
html .footer-nav a:hover .title,
html .menu-toggle:hover {
  color: $primary-color;
}

html .toc-menu {
  box-shadow: inset -1px 0 $sidebar-border-color;
}

html .toc-menu .link,
html .toc-menu .link:visited {
  color: $link-color;
}

html .toc-menu .link,
html .toc-menu .hlink {
  box-shadow: inset -2px rgba(200, 200, 200, 0);
}

html .toc-menu .link.-active,
html .toc-menu .hlink.-active {
  box-shadow: inset -2px 0 $secondary-color;
  color: $white !important;
}

/*
 * Pull box (.pull-box)
 *
 *     That's great. [link â†’](#)
 *     <!-- {p:.pull-box} -->
 */

html .markdown-body .pull-box {
  border-top: solid 2px $gray-lighter;
  padding-top: 24px;
  margin-top: 4em;
  position: relative;
}

html .markdown-body .pull-box:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

html .markdown-body .pull-box:before {
  display: inline-block;
  font-family: 'Ionicons';
  content: 'ï¾';
  font-size: 32px;
  font-weight: 400;
  /* @include ion-icon('ios-checkmark-outline', 32px); */
  vertical-align: middle;
  color: $secondary-color;
  margin-right: 16px;
}

html .markdown-body .pull-box a {
  border: solid 1px $secondary-color;
  border-radius: 4px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: .05em;
  margin-left: 16px;
}

html .markdown-body .pull-box a:hover {
  text-decoration: none;
  background: $secondary-color;
  color: white;
}

@media (min-width: 960px) {
  html .markdown-body .pull-box {
    padding-right: 100px;
    padding-left: 48px;
  }

  html .markdown-body .pull-box:before {
    position: absolute;
    top: 11px;
    left: 0;
  }

  html .markdown-body .pull-box a {
    position: absolute;
    right: 0;
    top: 20px;
  }
}

/*
 * File headings.
 *
 *      ##### `docpress.json`
 *      <!-- {.file-heading} -->
 *
 *      ```
 *      stuff here
 *      ```
 */

html .markdown-body .file-heading {
  font-weight: 700;
  font-size: .95em;

  padding-bottom: 16px;
  margin-bottom: 0;

  overflow: hidden;
  height: 1.3em;
  box-sizing: content-box;
  white-space: nowrap;
}

html .markdown-body .file-heading code {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

html .markdown-body .file-heading code:before,
html .markdown-body .file-heading code:after {
  display: none;
}

html .markdown-body .file-heading + pre {
  margin-top: 0;
}

html .markdown-body .file-heading:before {
  display: inline-block;
  vertical-align: middle;
  content: "ï„¯";
  font-family: Ionicons;
  font-weight: normal;
  font-size: 167x;
  width: 18px;
  color: $gray-dark;
  margin-top: -1px;
}

/*
 * Table look and feel
 */

html .markdown-body table {
  display: table;
  width: 100%;
  color: $code-color;
  margin: 1.75rem 0;
}

html .markdown-body table tr,
html .markdown-body table td {
  background-color: $sidebar-color;
}

html .markdown-body table td,
html .markdown-body table th {
  border-color: $gray-darkest;
}

/**
 * Custom
 */

.toc-menu .-level-1:first-child > .title,
.toc-menu .-level-1.-parent > .title {
  color: $primary-color;
}

.markdown-body h3 {
  color: $black;
}

.font-large {
  font-size: x-large;
}

a.link.title.link-send-tip {
  color: $special-text-color !important;
}
