/* Basic colors */

$white           : #fafbfb;
$black           : black;
$golden 				 : #e5b567;
$pink 					 : #ff2e88;

$gray-darkest    : #333;
$gray-darker     : #666;
$gray-dark       : #999;
$gray            : #ccc;
$gray-light      : #ddd;
$gray-lighter    : #eee;
$gray-lightest   : #f8f8f8;

$primary-font    : Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
$secondary-font  : $primary-font;

$primary-color        : lighten(#00bcd4, 5%);
$secondary-color      : #00bcd4;
$link-color           : darken(#00bcd4, 5%);

$primary-text-color   : $gray-dark;
$secondary-text-color : $gray-darkest;
$special-text-color   : $pink;
$code-color 					: $gray;
$code-inline-color    : $link-color;

$background-color     : $black;

$mobile-breakpoint    : 960px;
