/* Basic colors */

$white           : #fafbfb;
$black           : black;

$gray-darkest    : #333;
$gray-darker     : #666;
$gray-dark       : #999;
$gray            : #ccc;
$gray-light      : #ddd;
$gray-lighter    : #eee;
$gray-lightest   : #f8f8f8;

$primary-font    : Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
$secondary-font  : $primary-font;

$primary-color        : #2EFFFE;
$secondary-color      : #0CEDEC;
$link-color           : #14B3B2;

$primary-text-color   : $gray-dark;
$secondary-text-color : $gray-darkest;
$code-color 					: $gray;


$background-color: $black;
